<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<<%=ENV['GOOGLE_PLACES_KEY']%>"></script>
  <title>Find GOOD Coffee</title>
</head>
<body>
<div class="map">
  

</div>


  <script type="text/javascript">
    function initMap() {
    var myLatLng = {lat: "<%=@lat%>", lng: "<%= @long %>"};

    var map = new google.maps.Map(document.getElementsByClassName('map'), {
      zoom: 4,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: "<%= @shop.name %>"
    });
  }
  </script>

<!-- use geocode api to do below  -->
<script type="text/javascript">
  var myLatlng = new google.maps.LatLng(41.38, 2.18);
  var myOptions = {
    zoom: 13,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
  var geocoder = new google.maps.Geocoder();

  google.maps.event.addListener(map, 'click', function(event) {
    geocoder.geocode({
      'latLng': event.latLng
    }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          alert(results[0].formatted_address);
        }
      }
    });
  });

</script>


</body>
</html>