body {
	background-color: #660066;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
	}

#map {
  height: 500px;
  width: 1000px;
  margin-top: 5%;
  margin-left: 2%;
}

form {
    float: center;
    position: relative;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid #66ffff;
    padding: 10px;
    background-color: white;
    margin-top: 10%;
}

h2 {
	color: white;
	margin-left: 5%; 

}

a {
	color: white;
}

li {
	list-style: none;
}

#nav-bar ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#nav-bar ul li { display: inline; }

#nav-bar ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

#nav-bar ul li a:hover
{
color: #fff;
background-color: #369;
}

#home-page {
	margin-left: 5%;
}




