<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <%end %>
  </ul>
<%end %> 

<div id="registration-form">
	<form class="center" action="/users" method="post">
		Email 	 <input type="text" name="user[email]"><br>
		Hometown <input type="text" name="user[location]"><br>
		Username <input type="text" name="user[username]"><br>
		Password <input type="password" name="user[password]"><br>
		<input type="submit" value="Register">
	</form>
</div>