<div id="home-page">
	<p>Find good coffee on our <a href="/map">map</a> !</p>


	<p>login if you'd like to save a coffee shop to your favorites</p>
</div>
<!-- link to map page -->
<!-- login routes to profile page -->